---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?55cb792e2b4b16a6fb6bc2b08a53756c";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
  </script>
  </head>
  <body>
    <div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
    <div id = "wrapper">
      {%include navigation.html %}
      <div class="container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
